:root {

  --backGroundColour: #FFFFFF; /* exclusive to backgrounds */
  --borderColour: #000000; /* exclusive to borders */

  --lightTextColour: #f8f1e4; /* for use on dark backgrounds */
  --darkTextColour: #1f0000; /* for use on light backgrounds */

  --lightestColour: #FDF0D5;
  --midLightColour: #669bbc;
  --midColour: #c1121f;
  --midDarkColour: #780000;
  --darkestColour: #003049;
 }

body {
  text-align: center;
}

h1 {
  margin: 15px;
}

.titleBar, .instructionsBar {
  text-align:center;
  color: var(--midDarkColour);
}

.titleBar {
  background-color: var(--midDarkColour);
  color: var(--lightTextColour);
  padding: 5px;
  margin: 10px auto 40px auto;
  width: 80vw;
  font-size: 22px;
}

.instructionsBar {

  font-size: 20px;
  padding: 5px;
  margin: 40px auto ;
  width: 60vw;
  border: 2px solid var(--borderColour);
  background-color: var(--lightestColour)
}

#gridSizeButton {
  padding: 5px 15px;
  font-size: 18px;
  border-radius: 8px;
  color: var(--lightTextColour);
  background-color: var(--midDarkColour);
}

.gridContainer {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px solid var(--borderColour);
  width: 500px;
  height: 500px;
  padding: 0;
}

.etchRow {
  display: flex;
}

.etchCell {
  /*border: 1px solid black;
   width: 20px;
  height: 20px; */
}

.blackCell {
  background-color: black
}